@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Fira+Sans:wght@100&family=Hind+Siliguri:wght@300&family=IBM+Plex+Sans:wght@500&display=swap');

* {
  margin:0rem;
  overflow: visible;
  font-family: 'Dosis', sans-serif;
}

a{
  text-decoration: none;
}

li
{
  list-style: none;
}

.form
{
  display: flex;
  justify-content: center;
  align-self: center;
}

nav ul li:hover
{
   text-decoration: underline;
}

.img-fluid
{
    width: 5rem;
    animation-name: rotacion;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
   animation-duration: 1s;
   animation-delay: 0.5s;

}

@media screen and (max-width: 246px) 
{
    .videoFeelin
    {
      height: 10rem;
    }
}

@keyframes rotacion {

  100% {-webkit-transform: rotate(360deg);}
  
} 
